header {
  margin: 0;
  width: 100%;
  line-height: 2em;
  height: 15vh;
  background-color: #575761;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.myMemoriesButtonLink {
  text-decoration: none;
  color: #575761;
  width: 80%;
  height: 100%;
}

.landing-logo-container {
  width: 100%;
  background-color: #575761;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-logo-container img {
  width: 100%;
  height: 140%;
}

.myMemoriesButtonLink:hover{ 
   text-decoration: none;
  color: #575761;
}

.myMemoriesButton{
  width: 13em;
  height: 30px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 500;
  background-color: #e4fde1;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 27%;
}

.myMemoriesButton:hover {
  background-color: #8acb88;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}