header {
  width: 100%;
  height: 22vh;
  background-color: #575761;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  margin-top: -1.5rem;
  width: 345px;
  display: flex;
}

.myMemoriesButtonLink {
  text-decoration: none;
  color: #575761;
  /* width: 80%;
  height: 100%; */
}

.landing-logo-container {
  width: 100%;
  background-color: #575761;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myMemoriesButtonLink:hover{
  text-decoration: none;
  color: #575761;
}

.myMemoriesButton {
  position: relative;
  top: -45px;
  width: 14em;
  height: 30px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 800;
  color: white;
  background-color: #8acb88;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

/* .myMemoriesButton:hover {
  background-color: #8acb88;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
} */
