.main-wrapper-destinationButtons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.destinationContainerHeader {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 500;
  /* background-color: #575761; */
  /* border-radius: 10px; */
  margin: 0% 0 15% 0;
  padding: 12% 5%;
  width: 80%;
  color: #8acb88;
  border-bottom: 2px solid #575761;
}

.destinationButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: scroll;
  width: 60%;
  height: 50vh;
}
